<div class="container container-sm mt-lg home">
  <div class="panel text-center">
     <div class="panel-body">
        <p class="text-lg">ขอขอบคุณ<br><span>ที่ร่วมกรอกแบบสอบถาม <%=@subheader %></span></p>
        <p class="text-md">ท่านสามารถติดตามประกาศรับของรางวัลได้ที่เว็บไซต์ <a href="http://www.blcp.co.th" class="primary" target="_blank">www.blcp.co.th</a></p>
        <%= link_to 'ทำแบบทดสอบอีกครั้ง <i class="icon-arrow-right-circle"></i>'.html_safe ,homes_path,class:'btn btn-green btn-block btn-lg mv-lg pv-lg' %>
     </div>
  </div>
</div>
