<div class="container container-sm mt-lg home">
  <div class="panel text-center">
     <div class="panel-body">
        <p class="text-lg">ขอขอบคุณ<br><span>ที่ร่วมกรอกแบบสอบถาม <%=@subheader %></span></p>
        <p class="text-md">ท่านสามารถทำแบบทดสอบ "หลังการเยี่ยมชม" ได้โดยการคลิกปุ่ม "ทำแบบสอบถามหลังการเยี่ยมชม"</p>
      <%= link_to 'ทำแบบสอบถามหลังการเยี่ยมชม <i class="icon-arrow-right-circle"></i>'.html_safe ,questionnaire_path,class:'btn btn-green btn-block btn-lg mv-lg pv-lg' %>
     </div>
  </div>
</div>
