<h3>เพิ่มผู้ใช้งาน</h3>
<div class="row">
   <div class="col-lg-12">
      
 <div class="row mb">
    <div class="col-sm-3">
      <span class="input-group-text" >รหัสพนักงาน</span>
    </div>
    <div class="col-sm-9">
      <input type="text" class="form-control " id="employee_id">
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >คำนำหน้า</span> 
    </div>
    <div class="col-sm-9">
      <div class="dropdown" id="prefix">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >ประเภท</span>
    </div>
    <div class="col-sm-9">
      <div class="dropdown" id="category">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >ชื่อ (ภาษาไทย)</span>
    </div>
    <div class="col-sm-9">
      <input type="text" class="form-control " id="thai_name">
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >ชื่อ (ภาษาอังกฤษ)</span>
    </div>
    <div class="col-sm-9">
      <input type="text" class="form-control " id="eng_name">
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >ตำแหน่งงาน</span>
    </div>
    <div class="col-sm-9">
      <div class="dropdown" id="position">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >แผนก</span>
    </div>
    <div class="col-sm-9">
        <div class="dropdown" id="department">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >กลุ่ม</span>
    </div>
    <div class="col-sm-9">
        <div class="dropdown" id="group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >วันที่เริ่มงาน</span> 
    </div>
    <div class="col-sm-9">
        <input type="text" class="form-control  " id="start_date">
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >วันที่บรรจุ</span>
    </div>
    <div class="col-sm-9">
        <input type="text" class="form-control  " id="packing_date">
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >วันที่ลาออก</span>
    </div>
    <div class="col-sm-9">
        <input type="text" class="form-control  " id="date_of_resignation">
    </div>
  </div>
  <div class="row mb">
      <div class="col-sm-3">
          <span class="input-group-text" >เหตุผลที่ลาออก</span> 
      </div>
      <div class="col-sm-9">
              <textarea class="form-control" id="reason_for_resignation"></textarea>
      </div>
    </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >สถานะปัจุจบัน</span>
    </div>
    <div class="col-sm-9">
        <div id="current_statust">
            <label class="radio-inline"><input type="radio" name="optradio"> ใช้งาน </label>
            <label class="radio-inline"><input type="radio" name="optradio"> ยกเลิก </label>
          </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-sm-3">
        <span class="input-group-text" >ค่าโอที บาท/ชม.</span>
    </div>
    <div class="col-sm-9">
        <input type="text" class="form-control " id="ot_baht">
    </div>
  </div>
  <div class="row mb">
      <div class="col-sm-3">
          <span class="input-group-text" >OT:1</span>
      </div>
      <div class="col-sm-9">
          <input type="text" class="form-control" id="ot1">
      </div>
    </div>
    <div class="row mb">
        <div class="col-sm-3">
            <span class="input-group-text" >OT:2</span> 
        </div>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="ot2">
        </div>
      </div>
      <div class="row mb">
          <div class="col-sm-3">
              <span class="input-group-text" >OT:3</span> 
          </div>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="ot3">
          </div>
        </div>

   
   </div>
</div>