<div class="pull-right">
    <div class="btn-group">
        <a class="btn btn-primary" href="/databases/list_user_new" title="">เพิ่มผู้ใช้งาน</a>
    </div>
</div>
<h3>การจัดการข้อมูลผู้ใช้งาน
   <small>User Manager</small>
</h3>
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">เลือก</th>
        <th scope="col">รหัส</th>
        <th scope="col">ชื่อ (ภาษาไทย)</th>
        <th scope="col">ชื่อ (ภาษาอังกฤษ)</th>
        <th scope="col">สถานะ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">
          <label class="checkbox-inline">
            <input type="checkbox" value="">
          </label>
        </th>
        <td>0258</td>
        <td>พุฒิภพ นรเจริญ</td>
        <td>Puttipob Noracharoen</td>
        <td>A</td>
      </tr>

    </tbody>
  </table>
  </div>

  </div>
</div>